
<h1> My Tasks </h1>

<div class="container">

  <% @tasks.each do |task| %>
    <div class="row">
      <%= link_to task.title, task_path(task) %>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, task_path(task),
           method: :delete,
           data: { confirm: "Are you sure?" } %>
      <% if task.completed %>
         <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <% else %>
         <i class="fa fa-square-o" aria-hidden="true"></i>
      <% end %>
  <% end %>
  </div>

  <div class="footer">
  <%= link_to "add a new task", new_task_path %>
  </div>
</div>


